@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: 3a3a3a;
}
/* header and logo style */
.header {
background-color: rgba(184, 165, 148, 0.3);
position:fixed;
top: 0;
right: 0;
left: 0;
max-height: 15%;
display: flex;
justify-content: space-between;
}

h1, h2 {
   font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#logo {
    text-decoration: none;
    padding: 10px;
    float: left;
    font-size: 280%;
}

#yoga {
    color: blue;
}

/* navigation link */

#menue {
    letter-spacing: 2px;
    font-size: 110%;
}

#menue, #logo{
    line-height: 75px;
}

#menue li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menue a {
    color: inherit;
}

#menue a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero images */

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-img.jpg") no-repeat center center;
    background-size: cover;
}


#about-text {
    width: 300px;
    height: 250px;
    background-color: rgba(135, 206, 250, 0.6);
    position: absolute;
    left: 20%;
    top: 35%;
    animation-name: about-zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* create zoom effect for about-text */

@keyframes about-zoom {
from {
    transform: scale(1);
}
to {
    transform: scale(1.1);
}
}












